button {
  width: 3.5rem;
  height: 3.5rem;

  font-size: 1.4rem;

  border: none;
  border-radius: 0.8rem;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}

.button:hover {
  transform: scale(0.96);
}

.button--dark {
  background-color: var(--dark);
  color: var(--white);
}

.button--white {
  background-color: var(--white);
  color: var(--dark);

  box-shadow: 0 0 8px 2px var(--gray);
}

.button__icons {
  font-size: 1.4rem;
}